body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Global */
:root {
  --primary: #9a3334;
}
.main-container {
    padding: 30px 0 0;
    width: 100%;
    font-size: 18px;
    color: #666666;
    background-color: #f4f4f4;
}
.section-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
}
.container {
  padding: 20px auto;
}
.colored-heading {
  color: var(--primary);
  font-weight: 500;
  line-height: 1.2;
}
.img-fluid  {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.btn {
  background-color: var(--primary);
  color: #FFF;
  border-radius: 0;
  text-transform: uppercase;
  padding: 12px 47px;
  font-size: 1.15rem;
  text-decoration: none;
}
.btn:hover {
  background-color: #EC4949;
}
.link{
  color: #007bff;
  text-decoration: none;
}
.row {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
}
/* Header */

header .section-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 992px) {
  header .section-container {
    grid-template-columns: 100%;
  }
}

header .section-container .item {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
header .section-container  .item:nth-child(1),
header .section-container  .item:nth-child(4) {
    background-color: var(--primary);
    color: #FFF;
}

header .container {
  padding: 5% 10%;
}

header h1 {
  font-size: 4rem;
  font-weight: 500;
}
header q {
  font-size: 1.35rem;
  line-height: 1.8;
  font-weight: 400;
  font-style: italic;
}

header .float-right {
  float: right;
}
header .align-center {
  margin-left: auto;
  margin-right: auto;
}
header .hero {
  padding: 5%;
}
header .hero img {
  margin-left: 30%;
  width: 160px;
  height: 160px;
  border-radius: 50%
}
 header .hero p {
   font-size: 80%;
   font-weight: 300;
 }
 header .grey-heading {
    color: inherit;
 }
header .flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Second section */
#second {
  min-height: 400px;
  margin: 20px 0;
}
#second .section-container{
  display: flex;
  flex-wrap: nowrap;
}
#second .left {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  width: 66.666666%;
}
#second .left p {
  line-height: 1.8;
}
#second .left .btn {
  align-self: flex-end;
}
#second .right {
  width: 33.333333%;
}
@media only screen and (max-width: 1000px) {
  #second .section-container {
      display: block;
      text-align: center;
  }
  #second .left {
    display: block;
    width: auto;
  }
  #second .right {
    margin: auto;
      width: 90%;
  }
}

/* Pricing section */
#pricing {
  min-height: 400px;
  margin: 20px 0;
}
#pricing .section-container{
  display: flex;
  flex-wrap: nowrap;
}
#pricing .left {
  display: flex;
  flex-basis: 33.3333%;
}

#pricing .right {
  padding: 35px 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-basis: 66.6666%;
}

#pricing .plan {
  border: 1px solid #009999;
}

#pricing .plan .header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

#pricing .plan .header,
#pricing .plan .btn {
  background-color: #009999;
  color: #FFF;
  font-weight: 300;
}

#pricing .plan .header .plan-heading {
  font-weight: 300;
  margin-bottom: 0
}

#pricing .plan .body {
  display: flex;
  align-items: center;
  flex-direction: column;
  padding-bottom: 20px
}
#pricing .plan ul {
  list-style: none;
  padding: 25px 50px;
}
#pricing .plan ul li {
  line-height: 2.4;
}

#pricing .plan .btn {
font-weight: 400;
}

#pricing .plan .btn:hover {
  background-color: #24D4D4;
}

/* Application section */
#application {
  min-height: 400px;
  margin: 20px 0;
}
#application .section-container {
  background-color: inherit;
}
#application header {
  background-color: var(--primary);
  color: #FFF;
}
#application header .container {
  padding: 5% 12.5%;
}
#application .form-container {
  background-color: #FFF;
  margin-top: -56px;
  position: relative;
  display: flex;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
#application .form-container form {
  padding: 68px;
  display: flex;
  flex-wrap: wrap;
}
#application .form-container form input,
#application .form-container form select,
#application .form-container form textarea {
  border: 1px solid #CCC;
  color: #666;
  font-size: 1.2rem;
  padding: 12px 20px;
  line-height: 1.5;
  border: 1px solid #ced4da;
}
#application .form-container form .select-group {
  display: flex;
  align-items: baseline;
  padding: 15px 0;
}
#application .form-container form .select-group > input {
  margin-right: 5px
}
#application .form-container form .select-group label:first-of-type {
  margin-right: 100px
}
#application .form-container form select option {
    padding: 12px 20px;
    margin-right: 20px;
}
#application .form-container form input[type="text"],
#application .form-container form select {
  display: flex;
  height: 30px;
  width: -webkit-fill-available;
}
#application .form-container form select {
  height: 50px;
}
#application .form-container .left {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 50%;
}
#application .form-container .left,
#application .form-container .right {
  padding: 10px 20px;
  flex-direction: column;
  width: 50%;
}
#application .submit {
   flex-grow: 1;
   padding: 3% 7%;
   justify-content: center;
}
#application .btn {
  border: none;
  outline: none;
  text-transform: uppercase;
  padding: 12px 47px;
  font-size: 1.15rem;
}
#application footer {
  max-height: 70px;
  background-color: #666;
  color: #FFF;
  text-align: left;
  padding: 10% 15%;
  margin-top: -56px;
  z-index: -1
}
#application footer .row {
  justify-content: space-evenly;
}
#application footer .column {
  flex-basis: 50%;
  max-width: 260px;
  margin: 0 auto;
}
#application footer p,
#application footer h4{
  max-width: 400px;
  text-align: left;
  margin: 0
}
#application footer h4 {
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1.2;
}
#application footer p {
  line-height: 1.8;
  font-weight: 300;
  font-size: 18px;
}

/* Footer */
footer {
  padding: 10px;
  font-size: 1rem;
  text-align: center!important;
}
footer p {
  line-height: 1.8;
  font-weight: 300;
}
