body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}
/* Global */
.main-container {
    padding: 30px 0;
    width: 100%;
    font-size: 18px;
    color: #666666;
    background-color: #f4f4f4;
}
.section-container {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #FFF;
}
.colored-heading {
  color: #9a3334;
  font-weight: 500;
  line-height: 1.2;
}
.img-fluid  {
  background-size: cover;
  width: 100%;
  height: 100%;
}
.btn {
  background-color: #9a3334;
  color: #FFF;
  border-radius: 0;
  text-transform: uppercase;
  padding: 12px 47px;
  font-size: 1.15rem;
  text-decoration: none;
}

.btn:hover {
  background-color: #EC4949;
}
.link{
  color: #007bff;
  text-decoration: none;
}

/* Header */

header .section-container {
  display: grid;
  grid-template-columns: 50% 50%;
}

@media only screen and (max-width: 992px) {
  header .section-container {
    grid-template-columns: 100%;
  }
}

header .section-container .item {
  width: 100%;
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #FFF;
}
header .section-container  .item:nth-child(1),
header .section-container  .item:nth-child(4) {
    background-color: #9a3334;
    color: #FFF;
}

header .container {
  padding: 5% 10%;
}

header h1 {
  font-size: 4rem;
  font-weight: 500;
}
header q {
  font-size: 1.35rem;
  line-height: 1.8;
  font-weight: 400;
  font-style: italic;
}

header .float-right {
  float: right;
}
header .align-center {
  margin-left: auto;
  margin-right: auto;
}
header .hero {
  padding: 5%;
}
header .hero img {
  margin-left: 30%;
  width: 160px;
  height: 160px;
  border-radius: 50%
}
 header .hero p {
   font-size: 80%;
   font-weight: 300;
 }
 header .grey-heading {
    color: inherit;
 }
header .flex-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

/* Second section */
#second {
  min-height: 400px;
  margin: 20px 0;
}
#second .section-container{
  display: flex;
  flex-wrap: nowrap;
}
#second .left {
  display: flex;
  flex-direction: column;
  padding: 30px 50px;
  width: 66.666666%;
}
#second .left p {
  line-height: 1.8;
}
#second .left .btn {
  align-self: flex-end;
}
#second .right {
  width: 33.333333%;
}
@media only screen and (max-width: 1000px) {
  #second .section-container {
      display: block;
      text-align: center;
  }
  #second .left {
    display: block;
    width: auto;
  }
  #second .right {
    margin: auto;
      width: 90%;
  }
}
